.about-modal-container {
    --border-color-main: rgb(138, 110, 58);
    --border-color-secondary: rgb(87, 57, 1);
    --text-color: rgb(49, 32, 1);
    background-image: url('../assets/house-background-main.png');
    border: 5px solid var(--border-color-main);
    border-radius: 15px; 
    box-shadow: inset 0 0 10px var(--border-color-secondary);
    height: 60%;
}

.about-close-container-btn {
    background-image: url('../assets/house-background-secondary.png');
    border: 2px solid var(--border-color-secondary);
    box-shadow: inset 0 0 7px var(--border-color-secondary);
}

.about-close-container-btn:hover {
    background-image: url('../assets/house-background-main.png');
    box-shadow: inset 0 0 10px var(--border-color-main);
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.about-sidebar {
    border: 5px solid var(--border-color-main);
    border-radius: 15px;
    padding: 10px;
    background-image: url('../assets/house-background-secondary.png');
    box-shadow: inset 0 0 10px var(--border-color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img {
    background: url('../assets/player.png') -0px -150px;
    transform: scale(200%);
    height: 50px;
    width: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.about-sidebar-info-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-sidebar-info-section p {
    margin: 5px;
}

.about-summary {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.about-info-section {
    background-image: url('../assets/house-background-secondary.png');
    box-shadow: inset 0 0 10px var(--border-color-secondary);
    border: 5px solid var(--border-color-main);
    border-radius: 15px;
    padding: 10px;
}

.about-header, .about-info-header {
    font-weight: bolder;
}

.about-info-header {
    text-align: center;
    margin-bottom: 10px;
}

.about-stats-body {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.about-stat {
    display: flex;
    flex-direction: column;
}

.stat-name {
    margin: 0;
}

.stat-body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
}

.score-grid {
    height: 10px;
}

.score-grid-filled {
    background-color: rgb(253, 145, 4);
}