html, body {
    image-rendering: pixelated;
    margin: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.App {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mode-slider {
    position: absolute;
    border: 1px solid red;
    top: 0;
    right: 0;
    height: 50px;
    width: 100px;
    z-index: 10;
}

.start-modal-container {
    position: relative;
    z-index: 3;
    margin-bottom: 320px;
    margin-right: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-modal-container img {
    position: absolute;
}

.start-modal-container p {
    width: 600px;
    position: relative;
    margin: 4px;
    font-size: 1rem;
}

.start-modal-container p:last-child {
    margin-bottom: 20px;
}

.close-start-modal-btn {
    font-weight: bolder;
    float: right;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.6rem;
}

.game-container {
    /* translate: 401px !important; */
    /* transform: scale(160%); */
    position: absolute;
    display: grid;
    transition-property: translate;
    transition-duration: .5s;
    background-color: #4F5AFF;
    /* grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px); */
}

.sky {
    z-index: 4 !important;
}

.cloud {
    position: absolute;
    animation-name: moveCloud;
    animation-iteration-count: infinite;
    z-index: 5;
}

.cloud-one {
    top: -10;
    right: 500px;
    animation-duration: 180s;
}

.cloud-two {
    top: -20px;
    right: 100px;
    animation-duration: 240s;
}

@keyframes animateArrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveToBank {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(829px) translateY(-3px);
    }

}

.arrow-down {
    position: absolute;
    pointer-events: none;
    z-index: 7;
    animation-name: animateArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: left 1.5s, top 1.5s;
}

.tree {
    position: absolute;
    pointer-events: none;
    z-index: 7;
}

.tree-one {
    left: 1320px;
    top: 237px;
}

.tree-two {
    left: 1520px;
    top: 237px;
}

.tree-three {
    left: 1930px;
    top: 137px;
}

.tree-four {
    left: 2580px;
    top: 137px;
}

.tree-five {
    left: 3280px;
    top: 87px;
}

.tree-six {
    left: 1220px;
    top: 637px;
}

.tree-seven {
    left: 1570px;
    top: 637px;
}

.tree-eight {
    left: 1030px;
    top: 237px;
}

@keyframes moveCloud {
    0% {
        translate: 0px;
    }
    100% {
        translate: -4000px;
    }
}

.tile {
    /* border: 1px solid black; */
    z-index: 5;
    transform: scale(102%);
    position: relative;
}

.tile:hover {
    border: 1px solid rgb(0, 0, 0);
}

.tile-image{
    transform: translate3d(0,0,0);
    position: relative;
    width: 100%;
    height: 100%;
}

.water {
    animation-name: moveWater;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes moveWater {
    0%{
        translate: -5px;
    }
    25% {
        translate: 0px;
    }
    75% {
        translate: 5px;
    }
    100% {
        translate: 0px;
    }
}

.player-container {
    position: absolute;
    z-index: 6;
    transition-property: translate;
    transition-duration: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    transform: scale(160%);
    position: absolute;
    top: -15px;
    width: 50px;
    height: 50px;
}

.standing-up {
    background: url('../assets/walk-up.png') 0px 0px;
}

.standing-left {
    background: url('../assets/walk-left.png') 0px 0px;
}

.standing-down {
    background: url('../assets/walk-down.png') 0px 0px;
}

.standing-right {
    background: url('../assets/walk-right.png') 0px 0px;
}

.walk-up {
    animation: walkup 1s steps(4) infinite;
    background-image: url('../assets/walk-up.png');
}

.walk-left {
    animation: walkup 1s steps(4) infinite;
    animation-direction: alternate;
    background-image: url('../assets/walk-left.png');
}

.walk-down {
    animation: walkup 1s steps(4) infinite;
    background-image: url('../assets/walk-down.png');
}

.walk-right {
    animation: walkup 1s steps(4) infinite;
    background-image: url('../assets/walk-right.png');
}

@keyframes walkup {
    100% {
        background-position: -200px 0px;
    }
}

@keyframes walkleft {
    100% {
        background-position: -200px 0;
    }
}

@keyframes walkleft {
    100% {
        background-position: -200px 0;
    }
}

@keyframes walkleft {
    100% {
        background-position: -200px 0;
    }
}
