.bulletin-container {
    position: absolute;
    z-index: 3;
    background-image: url(../assets/bulletin-pattern.png);
    margin: 100px;
    border: 10px solid rgb(92, 60, 13);
    border-radius: 30px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bulletin-header {
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
    margin-bottom: 40px;
}

.bulletin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas: 
    "bulletinLeft bulletinTopRight"
    "bulletinLeft bulletinBottomRight";
    gap: 100px;
}

.bulletin-section {
    display: flex;
    flex-direction: column;
}

.bulletin-section-header {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.bulletin-pins-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.bulletin-pin {
    width: 30px;
    height: 30px;
}

.bulletin-pin-left {
    background-color: rgb(248, 153, 153);
    box-shadow: 3px 3px 0px 0px rgb(0,0,0);
    border-radius: 50%;
}

.bulletin-pin-top-right {
    background-color: rgb(132, 151, 236);
    box-shadow: 3px 3px 0px 0px rgb(0,0,0);
    border-radius: 50%;
}

.bulletin-pin-bottom-right {
    background-color: rgb(197, 250, 136);
    box-shadow: 3px 3px 0px 0px rgb(0,0,0);
    border-radius: 50%;
}

.bulletin-left {
    min-width: 400px;
    max-height: 500px;
    transform: rotate(-5deg);
    grid-area: bulletinLeft;
    background-color: rgb(236, 248, 180);
    display: grid;
    gap: 10px;
    grid-template-rows: 30px 5fr 1fr;
}

.bulletin-message {
    margin-left: 20px;
    margin-right: 20px;
}

.bulletin-message-error {
    border: 1px solid red !important;
}

.bulletin-comments-section {
    margin-top: 20px;
    overflow-y: auto;
}

.bulletin-message-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bulletin-message-input-container input {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(236, 248, 180);
    border: 2px solid rgb(142, 168, 27);
}

.bulletin-message-input-container > input {
    height: 49%;
}

.bulletin-message-input-container div {
    height: 49%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.bulletin-message-submit-btn {
    background-color: rgb(248, 153, 153);
    border: 2px solid rgb(136, 3, 3);;

}

.bulletin-top-right {
    grid-area: bulletinTopRight;
    transform: rotate(2deg);
    background-color: rgb(240, 240, 240);
}

.bulletin-top-right-body {
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.bulletin-bottom-right {
    grid-area: bulletinBottomRight;
    transform: rotate(1deg);
    background-color: rgb(230, 227, 92);
}

.bulletin-bottom-right p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
}

.close-bulletin-container-btn {
    margin-top: 20px;
    background-color: rgb(145, 104, 28);
    font-size: 1.3rem;
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(88, 66, 19);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}

.close-bulletin-container-btn:hover {
    cursor: pointer;
    background-color: rgb(190, 143, 55);
}