.project-modal-container {
    --border-color-main: rgb(247, 31, 31);
    --background-color-main: rgb(82, 82, 82);
    --background-color-secondary: rgb(148, 144, 144);
    background-image: url('../assets/gym-background-main.png');
    border: 5px solid var(--border-color-main);
    border-radius: 15px;
    color: white;
}

.close-projects-container-btn {
    background-color: var(--border-color-main);
    border: 2px solid var(--background-color-main);
    color: white;
    margin-bottom: 20px;
}

.close-projects-container-btn:hover {
    background-color: var(--background-color-secondary);
}

.projects-container {
    max-height: 400px;
    display: grid;
    grid-auto-rows: 1fr;
    overflow: auto;
}

::-webkit-scrollbar {
    background-color: white;
    
}

::-webkit-scrollbar-track {
    background-color: var(--background-color-main);
}

::-webkit-scrollbar-thumb {
    background: var(--border-color-main);
}

.projects-header {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
}

.project {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: minmax(100px, 1fr);
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 10px;
    /* border-bottom: 2px solid var(--border-color-main); */
    background-color: var(--background-color-main);
}

.project p, .project a {
    margin: 5px;
}

.project a {
    color: white;
}

.project-thumbnail {
    box-shadow: inset 0 0 10px var(--secondary-border-color);
    width: 100px;
}