/* Landscape phones and down */
@media (max-width: 480px) { 

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

    .App .modal-container {
        margin: 50px;
    }

    .start-modal-container {
        margin-right: 0px;
        margin-bottom: 300px;
    }

    /* ABOUT */

    .App .about-img {
        margin: 10px;
    }

    .App .about-modal-container {
        top: 0;
        height: 500px;
        width: 300px;
        margin: 30px;
        height: fit-content;
    }

    .App .about-content {
        font-size: .8rem;
    }

    .App .about-summary {
        grid-template-rows: repeat(2, 250px);
    }

    .App .about-stats-body {
        grid-template-columns: 1fr;
        gap: 0px;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        gap: 3px;
    }

    /* SKILLS */

    .App .skills-modal-container {
        padding: 0px;
    }

    .App .skills-content {
        text-align: center;
        padding: 10px;
    }

    .App .skill {
        width: 20px;
    }

    .App .close-skills-container-btn {
        margin: 0;
        margin-bottom: 10px;
    }

    /* PROJECT */

    .App .project-modal-container {
        margin: 15px;
    }

    .App .project {
        /* grid-template-columns: 1fr;
        grid-template-rows: auto auto; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        
    }

    .App .project-info-section {
        display: flex;
        flex-direction: column;
    }

    .App .close-projects-container-btn {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    /* CONTACT */

    .App .contact-modal-container {
        width: 350px;
        min-width: 350px;
    }

    .App .envelope-container {
        margin-top: 150px;
        width: 100%;
        height: auto;
        font-size: .8rem;
    }

    .App .envelope-text {
        left: 0px;
    }

    .App .linkedIn-icon, .App .github-icon {
        width: 40px;
        height: 40px;
        top: 1px;
        right: 15px;
    }

    .App .github-icon {
        top: 15px;
        right: 68px;
    }

    .App .linkedIn-icon svg, .App .github-icon svg {
        width: 100%;
        height: 100%;
    }

    .App .paper-container {
        z-index: 8;
    }

    .App .paper-container input, .App .paper-container textarea, .App .paper-container p {
        left: 60px;
        font-size: .8rem;
        padding: 0px;
    }

    .App .close-paper-btn {
        right: 75px;
    }

    .App .paper-container textarea {
        height: 100px;
        width: auto;
    }

    .App .paper-from {
        left: 0px;
    }

    .App .email-span {
        flex-direction: column;
        align-items: flex-start;
    }

    .App .email-span input {
        margin-left: 0px;
        margin-top: 5px;
    }

    .App .message-sent-modal {
        margin-top: 100px;
        width: 330px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .App .modal-container {
        margin: 50px;
    }

    .App .contact-modal-container {
        margin-top: 200px;
    }
} 

/* Large desktop */
@media (min-width: 1200px) { 

}