html, body {
    image-rendering: pixelated;
    margin: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.App {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game-container {
    transform: scale(160%);
    position: relative;
    display: grid;
    transition-property: translate;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    background-color: #46AD00;
    /* grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px); */
}

.tile {
    /* border: 1px solid black; */
    transform: scale(102%);
    position: relative;
}

.tile-image{
    position: relative;
    width: 100%;
    height: 100%;
}

.player {
    transform: scale(160%);
    position: absolute;
    z-index: 1;
    transition-property: translate;
    transition-duration: .7s;
    transition-timing-function: ease-out;
    display: block;
}

.standing-up {
    background: url('./assets/walk-up.png') 0px 0px;
}

.standing-left {
    background: url('./assets/walk-left.png') 0px 0px;
}

.standing-down {
    background: url('./assets/walk-down.png') 0px 0px;
}

.standing-right {
    background: url('./assets/walk-right.png') 0px 0px;
}

.walk-up {
    animation: walkup 1s steps(4) infinite;
    background-image: url('./assets/walk-up.png');
}

.walk-left {
    animation: walkup 1s steps(4) infinite;
    background-image: url('./assets/walk-left.png');
}

.walk-down {
    animation: walkup 1s steps(4) infinite;
    background-image: url('./assets/walk-down.png');
}

.walk-right {
    animation: walkup 1s steps(4) infinite;
    background-image: url('./assets/walk-right.png');
}

@keyframes walkup {
    100% {
        background-position: -200px 0px;
    }
}

@keyframes walkleft {
    100% {
        background-position: -200px 0;
    }
}

@keyframes walkleft {
    100% {
        background-position: -200px 0;
    }
}

@keyframes walkleft {
    100% {
        background-position: -200px 0;
    }
}

.about-container, .projects-container, .skills-container, .contact-container {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: white;
}
