html, body {
    image-rendering: pixelated;
    margin: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.App {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game-container {
    transform: scale(160%);
    position: relative;
    display: grid;
    transition-property: translate;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    background-color: #46AD00;
    /* grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px); */
}

.tile {
    /* border: 1px solid black; */
    transform: scale(102%);
    position: relative;
}

.tile-image{
    position: relative;
    width: 100%;
    height: 100%;
}

.player {
    position: absolute;
    z-index: 1;
    background-color: red;
    transition-property: translate;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.about-container, .projects-container, .skills-container, .contact-container {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: white;
}
